.red-box{
    background-color: red;
    padding: 10px; 
    border: 1px solid black;
}
.sans{
    font-family: 'PT Sans', sans-serif;
}
.center{
    text-align: center;
}  
.grey-bg{
    background-color: gray;
}
.yt{
background-color: red;
padding: auto;
}